.divdate        { background-color: #FFE4DE; border: 1px solid #860000; margin-bottom: 2px; width: 100%; }

html, body { height:auto; min-height:100%; height:100%; background-color : #f1f5ed; font-family : Tahoma,"Trebuchet MS","Nimbus Sans L",Arial,"Franklin Gothic Medium","Helvetica Neue",Geneva,Verdana,"URW Gothic L","Gill Sans",Helvetica,"Lucida Sans Unicode","Arial Black","Lucida Grande","Microsoft Sans Serif",sans-serif; font-size : 10pt; }

a { text-decoration : none; }

